*.mdf

*.ldf
GeoWcf.Contracts/obj/
GeoWcf.Contracts/bin/
GeoWcf.Core/obj/
GeoWcf.Core/bin/
GeoWcf.ConsoleHost/obj/
GeoWcf.ConsoleHost/bin/
GeoWcf.WebHost/obj/
GeoWcf.WebHost/bin/
GeoWcf.Services/obj/
GeoWcf.Services/bin/
GeoWcf.Data/obj/
GeoWcf.Data/bin/
GeoWcf.Tests/obj/
GeoWcf.Tests/bin/
GeoWcf.Proxies/obj/
GeoWcf.Proxies/bin/
GeoWcf.Client/obj/
GeoWcf.Client/bin/
GeoWcf.WindowsHost/obj/
GeoWcf.WindowsHost/bin/
GeoWcf.Client.Wpf/obj/
GeoWcf.Client.Wpf/bin/